* {
  margin:0px;
  padding:0px;
  font-family: "Staatliches", "Courier New", monospace;
}

a, p {
  color: black;
}

#page-wrapper {
  width:100%;
}

#header {
  width: 100%;
  text-align: center;
}

#name {
  font-size: 48px;
  font-family: "Coda", fantasy;
}

div#animation {
  height: 40vh;
  align-items: center;
}

canvas#animation {
  height: 100%;
  width: 100%;
  background-color: #dddddd
}
